@media ( max-width: 1500px )
  .promo
    &__wrap
      left: 300px
      z-index: 1
      padding-top: 100px
    &__title
      width: 50%
    &__img
      height: 98%
      top: 16px
  .menu
    &__block
      width: 25%

@media ( max-width: 1200px )
  .container
    max-width: 960px
  .sidepanel
    display: none
  .promo
    &__wrap
      left: 100px
    &__img
      width: 100%
  .about
    &__wrap
      grid-template-columns: 503px 423px
      column-gap: 50px
      row-gap: 0
  .portfolio
    padding-bottom: 120px
    &__wrapper
      grid-template: repeat(2, 242px)/repeat(4, 237px)
      gap: 10px
  .contacts
    &__wrapper
      grid-template-columns: 388px 564px
    &__form
      row-gap: 24px
  
@media ( max-width: 992px )  
  .container
    max-width: 720px
    overflow: hidden
  .promo
    &__btns
      width: 35%
    &__img
      left: -113px
      width: 168%
    &__title
      width: 71%
  .about
    padding-top: 60px
    &__wrap
      grid-template-columns: 377px 339px
      column-gap: 25px
  .code
    .language-js.hljs.javascript
      font-size: .875em
  .portfolio
    padding-bottom: 120px
    &__wrapper
      grid-template-columns: 319px 350px
      gap: 52px
    .horizontal,
    .vertikal
      grid-row: auto
      grid-column: auto
  .contacts
    &__wrapper
      grid-template-columns: 330px 407px
    &__form
      row-gap: 36px
      grid-template: 45px 170px /repeat(2, 203px)
    &__social
      li
        margin: 0 8px
  .title
    &_fz48
      font-size: 36px
    &_fz36
      font-size: 30px
  .menu
    &__block
      width: 40%
  .hamburger
    &__right
      display: none

@media ( max-width: 768px )
  .container
    max-width: 540px
  .title
    &_fz48
      font-size: 36px
      line-height: 46px
  .promo
    &__wrap
      left: 30px
    &__btns
      width: 44%
  .menu
    &__block
      width: 52%
  .about
    &__wrap
      grid-template-columns: 100%
  .code
    .language-js.hljs.javascript
      font-size: .75em
  .video 
    iframe 
      height: 500px
  .portfolio
    &__wrapper
      grid-template-columns: 100%
      row-gap: 63px
  .contacts
    &__wrapper
      grid-template-columns: 100%
    &__photo
      display: none
    &__form
      grid-template: 45px 170px /repeat(2, 250px)

@media ( max-width: 576px )
  .container
    width: 100%
    padding: 0 10px
  .contacts
    padding-bottom: 30px
    &__form
      grid-template: 45px 170px /repeat(2, 50%)
    &__social
      li
        margin: 0 5px
  .promo
    &__img
      left: -290px
      width: 258%
    &__btns
      width: 69%
  .title
    &_fz48
      font-size: 34px
  .menu
    &__block
      width: 76%
  .title
    &_fz48
      font-size: 30px
    &_fz36
      font-size: 25px
  .footer
    &__wrap
      flex-direction: column
    &__link
      height: 50px
  .portfolio
    padding-bottom: 0

@media only ( width: 320px ) and ( height: 568px )
  .title
    &_fz48
      font-size: 20px
      line-height: 20px
    &_fz36
      font-size: 24px
  .menu
    &__block
      width: 98%
  .promo
    &__wrap
      padding-top: 60px

@media only ( width: 1024px ) and ( height: 1366px )
  .promo
    &__img
      left: -895px
      width: 258%

@media only ( width: 540px ) and ( height: 720px )
  .promo
    &__img
      left: -400px
