.container
 display: flex
.about
 width: 31%
.main
 width: 69%

.block
 background-color: $blackSea
 border-radius: 15px
 text-align: center
 margin-top: 20px
 margin-left: 20px
 padding: 20px
 color: $white

.header
 &__avatar
  background: url("../img/avatar.jpg") top center/cover no-repeat
  width: 125px
  height: 125px
  border-radius: 100%
  text-align: center
 &__title
  font-size: 20px
  text-transform: capitalize
  margin-top: 10px
  span
   font-weight: 800
 &__subtitle
  font-size: 14px

.contact,
.follow
 hr
  margin-top: 0
 &__title
  text-transform: uppercase
  font-weight: 700
  font-size: 20px
 &__wrapper
  display: flex
  justify-content: space-between
  align-items: center
  fill: $aquamarine
  margin-top: 10px
  div
   margin-left: 15px
  span
   display: block
   text-align-last: left
   &::first-letter
    text-transform: capitalize
  .icon
   width: 20px
   height: 20px
   margin: 0
 &__phone,
 &__email
  color: $aquamarine
  font-size: 12px
  text-decoration: none
  display: block
  &:hover
   color: $aquamarine
 &__email
  &:last-child
   margin-left: -20px
 &__address
  font-size: 12px
  margin-bottom: 0
  color: $aquamarine
  text-align: left
  text-transform: capitalize


