.container
  display: flex
  border: 1px solid $gray
.connection
  width: 31%
.main
  width: 69%

.block
  margin-top: 15px
  margin-left: 15px
  padding: 20px
  text-align: center
  color: $white
  background-color: $blackSea
  border-radius: 15px
  &:last-child
    margin-bottom: 15px
  hr
    margin-top: 0
    margin-bottom: 0

.header
  &__avatar
    width: 125px
    height: 125px
    text-align: center
    background: url("../img/avatar.jpg") 48% 24%/200% no-repeat
    border-radius: 100%
  &__title
    margin-top: 10px
    font-size: 20px
    text-transform: capitalize
    span
      font-weight: 800
  &__subtitle
    font-size: 14px

.contact,
.follow,
.certification
  &__title
    font-size: 20px
    font-weight: 700
    text-transform: uppercase
  &__wrapper
    display: flex
    margin-top: 10px
    justify-content: space-between
    align-items: center
    fill: $aquamarine
    &:nth-child(6)
      div
        margin-left: 11px
      .icon
        width: 28px
        height: 28px  
        margin-left: -4px
        fill: $aquamarine 
    div
      margin-left: 15px
    span
      display: block
      text-align: left
      &::first-letter
        text-transform: capitalize
  .icon
    width: 20px
    height: 20px
    margin: 0
    &:nth-child(n+2):nth-child(-n+3)
      width: 18px
      height: 18px
    &__wrapper
      margin: 0
      text-align: left      
  &__phone,
  &__email,
  &__link
    display: block
    font-size: 12px
    text-decoration: none
    color: $aquamarine
    &:hover
      color: $aquamarine
  &__email
    &:last-child
      margin-left: -20px
  &__address
    margin-bottom: 0
    font-size: 12px
    text-align: left
    text-transform: capitalize
    color: $aquamarine 

.about,
.education
  display: block
  margin: 15px 10px
  font-size: 14px
  line-height: 20px
  color: $black
  border-right: 1px solid $blackSea
  border-bottom-right-radius: 40px
  border-bottom: 1px solid $blackSea 
  box-shadow: 2px 2px 10px $gray   
  &__title
    padding: 10px
    text-transform: uppercase
    font-weight: 800
    color: $white
    background-color: $blackSea
    border-bottom: 1px solid $blackSea    
  &__descr
    padding: 10px
    padding-top: 0
    ul
      margin: 5px 0
    li::marker
      color: $blackSea
    span
      font-weight: 800
      &:last-child
        display: block
        margin-top: 5px
.education
  &__descr
    span
      display: block
      margin-left: 25px
    &_link
      font-weight: 800
      text-decoration: none
      color: $black
      &:hover
        color: $black