.container
  display: flex
.about
  width: 31%
.main
  width: 69%

.block
  margin-top: 20px
  margin-left: 20px
  padding: 20px
  text-align: center
  color: $white
  background-color: $blackSea
  border-radius: 15px

.header
  &__avatar
    width: 125px
    height: 125px
    text-align: center
    background: url("../img/avatar.jpg") top center/cover no-repeat
    border-radius: 100%
  &__title
    margin-top: 10px
    font-size: 20px
    text-transform: capitalize
    span
      font-weight: 800
  &__subtitle
    font-size: 14px

.contact,
.follow
  hr
    margin-top: 0
  &__title
    font-size: 20px
    font-weight: 700
    text-transform: uppercase
  &__wrapper
    display: flex
    margin-top: 10px
    justify-content: space-between
    align-items: center
    fill: $aquamarine
    div
      margin-left: 15px
    span
      display: block
      text-align: left
      &::first-letter
        text-transform: capitalize
  .icon
    width: 20px
    height: 20px
    margin: 0
  &__phone,
  &__email
    display: block
    font-size: 12px
    text-decoration: none
    color: $aquamarine
    &:hover
      color: $aquamarine
  &__email
    &:last-child
      margin-left: -20px
  &__address
    margin-bottom: 0
    font-size: 12px
    text-align: left
    text-transform: capitalize
    color: $aquamarine   


