@import "utilites/variables"
@import "utilites/mixins"
@import "utilites/fonts"
@import "utilites/title"
@import "utilites/buttons"

@import "section/menu"
@import "section/header"
@import "section/about"
@import "section/education"
@import "section/ability"
@import "section/video"
@import "section/footer"
@import "section/portfolio"
@import "section/contacts"
@import "section/footer"

*
 box-sizing: border-box
 font-family: $family
 font-weight: 500
 margin: 0 auto
 font-display: swap
 scroll-behavior: smooth

.container
  display: block
  max-width: 1140px
  margin: 0 auto

.divider
  height: 3px
  width: 60px
  background: $mainColor
  margin: 0